@import url(/scss/nullstyle.scss);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
   font-family: Arial, Helvetica, sans-serif;
}

.wrap {
   display: grid;
   grid-template: 1fr minmax(270px, auto) / 1fr;
   min-height: 100vh;
   grid-template-areas:
      "main"
      "footer";
}

.main {
   grid-area: main;
}

.binary {
   display: grid;
   grid-template: 1fr / 1fr minmax(200px, 1100px) 1fr;
   background-image: url(../img/layers.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.binary__logo {
   grid-column: 2 / 3;
   margin: 0 auto;
   padding: 165px 0;
}

.binary__image {
   position: relative;
   background-image: url(../img/1.png);
   background-size: cover;
   background-repeat: no-repeat;
   width: 195px;
   height: 123px;
}

.binary__title {
   grid-column: 2 / 3;
}

.binary__1 {
   font-family: Lato;
   font-size: 34px;
   line-height: 40px;
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 0.16em;
   color: #ffffff;
}

.binary__2 {
   transform: translate(0, -25px);
   font-family: Lato;
   font-size: 26px;
   line-height: 40px;
   font-weight: 400;
   text-transform: none;
   letter-spacing: 0.16em;
   color: #ffffff;
}

.binary__3 {
   width: 105px;
   height: 0.1px;
   background-color: #fff;
   border: 1px #fff solid;
   margin: 0 auto;
}

.binary__read {
   grid-column: 2 / 3;
   margin: 220px auto;
}

.binary__read p {
   font-family: Lato;
   font-size: 16px;
   line-height: 1.2;
   font-weight: 400;
   letter-spacing: 0.06em;
   color: #ffffff;
   margin: 0 auto;
   border: 1px #fff solid;
   padding: 16px 41px;
   text-transform: uppercase;
}

.binary__down {
   position: relative;
   background-image: url(../img/3.png);
   background-repeat: no-repeat;
   bottom: 150px;
   width: 17px;
   height: 10px;
   grid-column: 2 / 3;
   justify-self: center;
}

.about {
   background-color: #ffffff;
   display: grid;
   grid-template: minmax(58px, 58px) 1fr / 1fr;
   text-align: center;
}

.about-header {
   display: grid;
   grid-template: 1fr / 1fr minmax(200px, 1100px) 1fr;
   border: 1px #f3f3f3 solid;
   text-align: center;
   align-items: center;
}

.header__items {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column: 2 / 3;
   margin: 0 auto;
   column-gap: 25px;
}

.header__item {
   font-family: Lato;
   font-size: 15px;
   line-height: 1.2;
   font-weight: 400;
   color: #3c3c3c;
   text-decoration: none;

   &:visited {
      font-family: Lato;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 700;
      color: #3c3c3c;
   }

   &:active {
      font-weight: 700;
      color: #ada074;
   }

   &:hover {
      font-weight: 700;
      color: #ada074;
   }
}

.about-content {
   margin: 130px 0 0 0;
   max-width: 690px;
   justify-self: center;
   padding: 0 15px;
}

.about-content__title {
   font-family: Lato;
   font-size: 34px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.16em;
   color: #000000;
}

.about__line {
   margin: 25px auto;
   width: 81px;
   height: 1px;
   background-color: #000000;
}

.about-content__text {
   font-family: Lato;
   font-size: 14px;
   line-height: 25px;
   font-weight: 300;
   color: #868585;
}

.about-items {
   margin: 65px 0 35px 0;
   justify-content: center;
   justify-self: center;
   grid-template-columns: repeat(auto-fit, minmax(100px, 270px));
   column-gap: 80px;
}

.about-items__image {
   display: inline-grid;
   padding: 25px;
   border: 1px #f4f4f4 solid;
   border-radius: 50%;
}

.about-items__image img {
   position: relative;
}

.about-items__title {
   font-family: Lato;
   font-size: 22px;
   line-height: 1.2;
   font-weight: 400;
   letter-spacing: 0.16em;
   color: #000000;
   margin: 30px 0;
}

.about-items__text {
   font-family: Lato;
   font-size: 14px;
   line-height: 26px;
   font-weight: 300;
   color: #868585;
}

.portfolio {
   display: grid;
   grid-template: 1fr / 1fr minmax(150px, 1100px) 1fr;
   background-color: #f3f3f3;
   text-align: center;
}

.portfolio__logo {
   grid-column: 2 / 3;
   margin: 110px 0;
}

.portfolio__logotitle {
   font-family: Lato;
   font-size: 34px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.16em;
   color: #000000;
}

.portfolio__logoline {
   width: 81px;
   height: 1px;
   background-color: #000000;
   margin: 35px auto;
}

.portfolio__logoitems {
   display: grid;
   grid-auto-flow: column;
   max-width: 290px;
   margin: 0 auto;
}

.portfolio__logoitem a {
   font-family: Lato;
   font-size: 15px;
   line-height: 1.2;
   font-weight: 400;
   color: #3c3c3c;
   text-decoration: none;
   text-transform: uppercase;

   &:visited {
      font-family: Lato;
      font-size: 15px;
      line-height: 1.2;
      font-weight: 700;
      color: #3c3c3c;
   }

   &:active {
      font-weight: 700;
      color: #ada074;
   }

   &:hover {
      font-weight: 700;
      color: #ada074;
   }
}

.portfolio__items {
   justify-content: center;
   grid-column: 2 / 3;
   column-gap: 50px;
   row-gap: 25px;
   padding: 0 15px;
}

.portfolio__item {
   background-color: #eaeaea;
   max-width: 500px;
   height: 365px;
   margin: 7.5px auto;
}

.portfolio__reader {
   grid-column: 2 / 3;
   display: inline-grid;
   margin: 60px 0;
}

.portfolio__reader p {
   font-family: Lato;
   font-size: 16px;
   line-height: 1.2;
   font-weight: 400;
   letter-spacing: 0.06em;
   color: #000000;
   margin: 0 auto;
   border: 1px #000000 solid;
   padding: 16px 41px;
   text-transform: uppercase;
}

.parthners {
   display: grid;
   grid-template: 1fr / 1fr minmax(200px, 600px) 1fr;
   background-image: url(../img/111.png);
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
}

.parthners__title {
   grid-column: 2 / 3;
   font-family: Lato;
   font-size: 30.4px;
   line-height: 1.2;
   font-weight: 300;
   letter-spacing: 0.06em;
   color: #ffffff;
   margin: 75px 0 0 0;
}

.parthners__items {
   grid-column: 2 / 3;
   display: grid;
   grid-auto-flow: column;
   margin: 100px 0;
}


.contact {
   background-color: #ffffff;
   display: grid;
   grid-template: 1fr / 1fr minmax(200px, 720px) 1fr;
}

.contact__title {
   grid-column: 2 / 3;
   text-align: center;
   margin: 180px 0 95px 0;
}

.contact__titletext {
   font-family: Lato;
   font-size: 34px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.16em;
   color: #000000;
}

.contact__titleline {
   width: 81px;
   height: 1px;
   background-color: #000000;
   margin: 30px auto;
}

@media (min-width:835px) {
   .about-items {
      display: grid;
      grid-auto-flow: column;
   }

   .portfolio__items {
      grid-template: 1fr / minmax(500px, 500px) minmax(500px, 500px);
      grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
      display: grid;
   }

   .portfolio__item {
      margin: 0;
   }

   .contact__body {
      display: grid;
      grid-auto-flow: column;
   }

   .contact__row {
      justify-self: none;
   }
}

.contact__row {
   grid-column: 2 / 3;
   display: grid;
   justify-self: center;
}

.contact__bodyleft {
   width: 383px;
   margin: 0 15px 0 0;
}

.contact__bodyyour {
   display: grid;
   grid-auto-flow: column;
}

.contact__bodytextleft {
   font-family: Lato;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #000000;
   padding: 0 0 17.5px 0;
}

.contact__bodyarea textarea {
   background-color: #f8f7f7;
   border: none;
   border-top: 1px black solid;
   resize: none;
   min-height: 35px;
   width: 161px;
}


.contact__bodyemail {
   margin: 0 21%;
}

.contact__bodyright {
   max-width: 250px;
   justify-self: end;
}

.contact__bodymass {
   margin: 75px 0 0 0;
}

.contact__bodytextleft01 {
   font-family: Lato;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #000000;
   padding: 0 0 17.5px 0;
}

.contact__bodyarea01 {
   width: 383px;
}

.contact__bodyarea01 textarea {
   width: 100%;
   background-color: #f8f7f7;
   border: none;
   border-top: 1px black solid;
   resize: none;
   min-height: 118px;
}

.contact__bodyright01 {
   font-family: Lato;
   font-size: 14px;
   line-height: 26px;
   font-weight: 300;
   color: #000000;
   margin: 0 0 35px 0;
}

.contact__bodyright02 {
   font-family: Lato;
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;
   margin: 0 0 17px 0;
}

.contact__bodyright03 {
   display: flex;
   margin: 0 0 -5px 0;
}

.contact__bodyright03body {
   border: 2px #000000 solid;
   border-radius: 50%;
   width: 29px;
   height: 29px;
   align-items: center;
   justify-content: center;
   display: flex;
   margin: 0 15px 0 0;
}

.contact__bodyright04 p {
   font-family: Lato;
   font-size: 14px;
   line-height: 26px;
   font-weight: 700;
   color: #000000;

   &:first-child {
      font-weight: 400;
   }
}

.contact__bodyright04 {
   display: flex;
}

.contact__send button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: none;
   background-color: transparent;
   font-family: Lato;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.06em;
   color: #000000;
}

.contact__send {
   margin: 40px 91%;
   display: inline-grid;
}

.footer {
   display: grid;
   grid-row: 2 / 3;
   background-color: #3c3c3c;
   grid-template: 1fr / 1fr minmax(100px, 260px) 1fr;
   text-align: center;
}

.footer__logo {
   grid-column: 2 / 3;
   width: 122px;
   height: 78px;
   margin: 42.5px auto;
}

.footer__items {
   grid-column: 2 / 3;
   display: grid;
   grid-auto-flow: column;
   position: relative;
   bottom: 75px;
}

.footer__item {
   font-family: Lato;
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
   color: #a4a4a4;
   text-transform: uppercase;
}

.footer__copy {
   grid-column: 2 / 3;
   font-family: 'Myriad Pro';
   font-size: 14px;
   line-height: 1.2;
   font-weight: 400;
   color: #6c6c6c;
   position: relative;
   bottom: 45px;
}