@import url(/scss/nullstyle.scss);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
   margin: 0;
   display: inline;
}

.wrap {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.header {
   background-color: rgba(240, 240, 240, 0.4);
   min-height: 8.502vh;
   display: flex;
   align-items: center;
}
.container {
   width: 100%;
   max-width: 552px;
   margin: 0 auto;
}
.header__container {
   border-bottom: 1px #F3F3F3 solid;
}
.image {
   align-items: center;
   text-align: center;
}
.line {
   width: 552px;
   height: 2px;
   background-color: #F3F3F3;
   margin: 0 auto;
}
.footer__line {
   transform: translate(0px, -18px);
}
.header__line {
   transform: translate(0px, -2px);
}
.main {
   background-color: #fff;
}
.container {
}
.main__body {
   margin: 0 0 50px 0;
}
.main__title {
   font-family: Poppins;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   text-align: left;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;   
   margin: 20px 0 0 0;
}
.main__section {
}
.section {
}
.section__row {
   display: flex;
   flex-direction: column;
}
.section__items {
   display: flex;
   justify-content: space-evenly;
   margin: 40px 0 0 0;
   width: 552px;
}
.section__item {
}
.item {
   
}
.item__image {
   width: 280px;
   height: 280px;
}
.item__image img {
   position: relative;
   top: 0;
   width: 100%;
}
.item__text {
   position: relative;
   margin: 25px 0 0 0;
   left: 8.5px;
   font-family: Poppins;
   font-size: 20px;
   font-weight: 400;
   line-height: 30px;
   letter-spacing: -0.01em;
   text-align: left;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   color: rgba(51, 51, 51, 1);   
}
.item__price {
   position: relative;
   left: 8.5px;
   font-family: Poppins;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   text-align: left;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   color: rgba(72, 157, 255, 1);
   margin: 3px 0 0 0;
}
.item__buttom {
   position: relative;
   left: 8.5px;
   width: 131px;
   height: 48px;
   background-color: rgba(72, 157, 255, 1);
   border-radius: 7px;
   display: flex;
   align-items: center;
   margin: 15px 0 0 0;
}
.item__buttom span {
   font-family: Montserrat;
   font-size: 15px;
   font-weight: 700;
   line-height: 16px;
   text-align: center;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;   
   color: #fff;
   margin: 0 auto;
}
.footer {
   margin-top: auto;
}
.footer__body {
   min-height: 88px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.footer__allRights {
   font-family: Poppins;
   font-size: 12px;
   font-weight: 400;
   line-height: 20px;
   text-align: center;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   
}
.footer__eMail {
   font-family: Poppins;
   font-size: 12px;
   font-weight: 400;
   line-height: 20px;
   text-align: center;
   text-underline-position: from-font;
   text-decoration-skip-ink: none;
   
}
.footer__links {
   justify-content: center;
   display: flex;
   width: 130px;
   margin: 0 auto;
   justify-content: space-between;
}
@media(max-width: 670px) {
  body {
   width: 670px;
  }
}
.line {
   width: 400px;
}
.section__item {
   width: 350px;
}
.section__items {
   width: 350px;
}
@media(max-width: 600px) {
   .section__items {
      flex-direction: column;
   }
   .main__title span {
      font-size: 45px;
   }
   .item__image {
      width: 300px;
      height: 300px;
   }
   .section__items {
      width: 350px;
   }
   .main__body {
      padding: 0 20px;
   }
   .item__text {
      font-size: 30px;
      padding: 10px 0 0 0;
   }
   .item__price {
      font-size: 22px;
      padding: 7.5px 0 0 0;
   }
   .item__buttom {
      width: 175px;
      height: 65px;
   }
   .item__buttom span {
      font-size: 25px;
   }
   .footer__allRights {
      font-size: 18px;
   }
   .footer__eMail {
      font-size: 15px;
   }
   .footer__links {
      width: 160px;
   }
}
@media(max-width: 400px) {
   .line {
      width: 200px;
   }
   .section__item {
      width: 200px;
   }
   .section__items {
      width: 200px;
   }
   .item__image {
      width: 300px;
      height: 300px;
   }
}
@media(max-width: 350px) {
   .item__image {
      width: 300px;
      height: 300px;
   }
   .item__text {
      width: 250px;
   }
   .item__image {
      width: 250px;
      height: 250px;
   }
} 